body{
    padding: 5%;padding-top: 7%;
    background-color: aquamarine;padding-left: 10%; }
    p{color: blue;padding-left: 2%;font-size: 200%;background-color: coral; 
    
    font-style: normal;}
         #nasa2
         {
             background-image: url(image\ 11.jpg);
         }
#nasa3
{
    background-image: url(image\ 10.gif);
}
#nasa4
{
    background-image: url(image\ 9.png);
}
#nasa5{
    background-image: url(image\ 6.jpg);
}     
#nasa6
{
    background-image: url(image\ 8.jpg);
}
   